@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
}

.full {
  position: relative;
  overflow-x: hidden;
}

// Hero Section

.hero {
  height: 100vh;
  width: 100%;

  nav {
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      padding: 0 25px;
    }

    .navlinks {
      position: relative;

      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0 20px;
        align-items: center;
      }

      li {
        color: white;
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        margin: 0 25px;
        cursor: pointer;
        font-size: 16px;

        button {
          color: black;
          font-family: "Fraunces", serif;
          padding: 15px 20px;
          border-radius: 25px;
          border: none;
          text-transform: uppercase;
          font-size: 14px;
          background: white;
          transition: 0.2s ease;
          cursor: pointer;

          &:hover {
            background: rgba(255, 255, 255, 0.4);
            color: white;
            transition: 0.2s ease;
          }
        }
      }
    }

    .hamburger {
      display: none;
    }
  }

  .content {
    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      object-fit: contain;
      z-index: -1;

      .desktop {
        display: block;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        z-index: -1;
      }

      .mobile {
        display: none;
      }
    }

    h1 {
      text-align: center;
      margin-top: 15vh;
      font-size: 34px;
      font-family: "Fraunces", serif;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 8px;
      color: white;
    }

  }

  //Media query for hero section
  @media only screen and (max-width: 750px) {
    nav {
      .navlinks {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        z-index: 100;
        top: 15vh;
        left: 0;
        height: 50vh;
        width: calc(100% - 60px);
        margin: 0 30px;
        background: white;
        border-radius: 2px;

        &::before {
          content: "";
          height: 0px;
          width: 0px;
          position: absolute;
          top: -40px;
          right: 0;
          z-index: 1;
          border-top: 20px solid transparent;
          border-left: 20px solid transparent;
          border-right: 20px solid white;
          border-bottom: 20px solid white;
        }

        ul {
          position: relative;
          top: 50%;
          transform: translate(0%, -50%);
          text-align: center;
          flex-direction: column;
        }

        li {
          margin: 20px 25px;
          font-size: 20px;
          color: hsl(210, 4%, 67%);
          transition: 0.2s ease;

          &:hover {
            color: hsl(0, 0%, 44%);
            transition: 0.2s ease;
          }

          button {
            font-size: 16px;
            background: hsl(51, 100%, 49%);

            &:hover {
              background: hsl(7, 99%, 70%);
            }
          }
        }
      }

      .active {
        opacity: 1;
        pointer-events: all;
      }

      .hamburger {
        display: block;
        margin: 0 30px;
        cursor: pointer;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .content {
      .bg-image {
        .desktop {
          display: none;
        }

        .mobile {
          display: block;
          height: 100vh;
          width: 100%;
          object-fit: cover;
          z-index: -1;
        }
      }

      h1 {
        margin-left: 10%;
        margin-right: 10%;
      }
    }
  }
}

// Section 1
.sec1,
.sec2 {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100%;
  align-items: center;
  justify-content: center;

  .image {
    flex: 1;
    z-index: -2;

    img {
      height: 80vh;
      width: 100%;
      object-fit: cover;
    }
  }

  .content {
    flex: 1;
    width: 100%;
    font-family: "Barlow", sans-serif;

    h1 {
      padding: 30px 15%;
      font-size: 32px;
      font-family: "Fraunces", serif;
    }

    p {
      padding: 0px 15%;
      font-weight: 500;
      line-height: 26px;
    }

    button {
      margin: 30px 15%;
      border: none;
      background: transparent;
      font-family: "Fraunces", serif;
      text-transform: uppercase;
      font-size: 16px;
      border-bottom: 5px double hsl(51, 100%, 49%);
      transition: 0.2s ease;

      &:hover {
        border-bottom: 5px dotted hsl(51, 100%, 49%);
        transition: 0.2s ease;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    height: 100vh;

    .image {
      img {
        height: 50vh;
        width: 100vw;
      }
    }

    .content {
      text-align: center;

      h1 {
        padding: 50px 10% 30px 10%;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .content {
      h1 {
        padding: 30px 10%;
      }

      p {
        padding: 0px 12%;
      }
    }
  }
}

.sec1 {
  .image {
    order: 2;
  }

  .content {
    order: 1;
  }

  @media only screen and (max-width: 700px) {
    .image {
      order: 1;
    }

    .content {
      order: 2;
    }
  }
}

//Section3
.sec3 {
  height: 80vh;
  width: 100%;
  margin-top: -2px;
  display: flex;
  flex-direction: row;

  .sub-sec1,
  .sub-sec2 {
    flex: 1;
    text-align: center;

    .image {
      height: 80vh;
      width: 100%;

      .desktop {
        display: block;
        height: 80vh;
        width: 100%;
        object-fit: cover;
      }

      .mobile {
        display: none;
      }
    }

    .content {
      padding: 10px 20% 30% 20%;
      position: relative;
      top: -35%;
    }

    h1 {
      font-family: "Fraunces", serif;
      padding: 10px 0px;
    }

    p {
      font-family: "Barlow", sans-serif;
      line-height: 26px;
    }
  }

  .sub-sec1 {
    .content {
      color: hsl(167, 40%, 24%);
    }
  }

  .sub-sec2 {
    .content {
      color: hsl(198, 62%, 26%);
    }
  }

  @media only screen and (max-width: 900px) {

    .sub-sec1,
    .sub-sec2 {
      .content {
        padding: 10px 10% 30% 10%;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    height: 160vh;
    flex-direction: column;

    .sub-sec1,
    .sub-sec2 {
      height: 80vh;

      .content {
        padding: 0% 20% 0% 20%;
        top: -35%;
      }

      .image {
        height: 80vh;
        width: 100%;

        .desktop {
          height: 80vh;
        }
      }
    }
  }

  @media only screen and (max-width: 550px) {

    .sub-sec1,
    .sub-sec2 {
      .content {
        padding: 0% 10% 0% 10%;
      }
    }
  }

  @media only screen and (max-width: 420px) {

    .sub-sec1,
    .sub-sec2 {
      .image {
        .desktop {
          display: none;
        }

        .mobile {
          display: block;
          height: 80vh;
          width: 100%;
          object-fit: cover;
        }
      }

      .content {
        top: -40%;
      }
    }
  }
}


//Section4
.sec4{
  margin:160px 8%;
  h1{
    text-align: center;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 8px;
    color:grey;
  }
  .testimonies{
    display: flex;
    flex-direction: row;
    margin:60px 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    .tmy{
      margin:0 30px;
      .icon{
        height:80px;
        margin:30px 0;
        img{
          height: 100%;
          border-radius: 50%;
        }
      }
      .testimony{
        font-family: "Barlow", sans-serif;
        line-height: 26px;
      }
      .name{
        font-family: "Fraunces", serif;
        margin:60px 0 10px 0;
        font-size: 20px;
      }
      .who{
        font-family: "Barlow", sans-serif;
        color:grey;
      }
    }
  }
  @media only screen and (max-width: 1000px){
    margin:160px 5%;
  }
  @media only screen and (max-width: 700px){
    margin:100px 5%;
    .testimonies{
      margin:30px 15%;
      flex-direction: column;
      .tmy{
        margin:30px 30px;
        .icon{
          height:100px;
        }
        .name{
          margin:20px 0 10px 0;
        }
      }
    }
  }
  @media only screen and (max-width: 560px){
    h1{
      font-size:18px;
      letter-spacing: 6px;
    }
    .testimonies{
      margin:30px 8%;
      .tmy{
        .name{
          margin:30px 0 10px 0;
        }
      }
    }
  }
  @media only screen and (max-width: 440px){
    h1{
      font-size:16px;
      letter-spacing: 5px;
    }
    .testimonies{
      margin:30px 5%;
      .tmy{
        margin:20px 0px;
        .name{
          margin:25px 0 15px 0;
        }
      }
    }
  }
}