@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
}

.full {
  position: relative;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  width: 100%;
}

.hero nav {
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero nav .logo {
  padding: 0 25px;
}

.hero nav .navlinks {
  position: relative;
}

.hero nav .navlinks ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero nav .navlinks li {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  margin: 0 25px;
  cursor: pointer;
  font-size: 16px;
}

.hero nav .navlinks li button {
  color: black;
  font-family: "Fraunces", serif;
  padding: 15px 20px;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  background: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.hero nav .navlinks li button:hover {
  background: rgba(255, 255, 255, 0.4);
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.hero nav .hamburger {
  display: none;
}

.hero .content .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}

.hero .content .bg-image .desktop {
  display: block;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.hero .content .bg-image .mobile {
  display: none;
}

.hero .content h1 {
  text-align: center;
  margin-top: 15vh;
  font-size: 34px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: white;
}

.hero .content .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 750px) {
  .hero nav .navlinks {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 100;
    top: 15vh;
    left: 0;
    height: 50vh;
    width: calc(100% - 60px);
    margin: 0 30px;
    background: white;
    border-radius: 2px;
  }
  .hero nav .navlinks::before {
    content: "";
    height: 0px;
    width: 0px;
    position: absolute;
    top: -40px;
    right: 0;
    z-index: 1;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid white;
    border-bottom: 20px solid white;
  }
  .hero nav .navlinks ul {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero nav .navlinks li {
    margin: 20px 25px;
    font-size: 20px;
    color: #a7abae;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .hero nav .navlinks li:hover {
    color: #707070;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .hero nav .navlinks li button {
    font-size: 16px;
    background: #fad400;
  }
  .hero nav .navlinks li button:hover {
    background: #fe7867;
  }
  .hero nav .active {
    opacity: 1;
    pointer-events: all;
  }
  .hero nav .hamburger {
    display: block;
    margin: 0 30px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .hero .content .bg-image .desktop {
    display: none;
  }
  .hero .content .bg-image .mobile {
    display: block;
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
  }
  .hero .content h1 {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.sec1,
.sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec1 .image,
.sec2 .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: -2;
}

.sec1 .image img,
.sec2 .image img {
  height: 80vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec1 .content,
.sec2 .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  font-family: "Barlow", sans-serif;
}

.sec1 .content h1,
.sec2 .content h1 {
  padding: 30px 15%;
  font-size: 32px;
  font-family: "Fraunces", serif;
}

.sec1 .content p,
.sec2 .content p {
  padding: 0px 15%;
  font-weight: 500;
  line-height: 26px;
}

.sec1 .content button,
.sec2 .content button {
  margin: 30px 15%;
  border: none;
  background: transparent;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 5px double #fad400;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.sec1 .content button:hover,
.sec2 .content button:hover {
  border-bottom: 5px dotted #fad400;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media only screen and (max-width: 700px) {
  .sec1,
  .sec2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .sec1 .image img,
  .sec2 .image img {
    height: 50vh;
    width: 100vw;
  }
  .sec1 .content,
  .sec2 .content {
    text-align: center;
  }
  .sec1 .content h1,
  .sec2 .content h1 {
    padding: 50px 10% 30px 10%;
  }
}

@media only screen and (max-width: 500px) {
  .sec1 .content h1,
  .sec2 .content h1 {
    padding: 30px 10%;
  }
  .sec1 .content p,
  .sec2 .content p {
    padding: 0px 12%;
  }
}

.sec1 .image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.sec1 .content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (max-width: 700px) {
  .sec1 .image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .sec1 .content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.sec3 {
  height: 80vh;
  width: 100%;
  margin-top: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sec3 .sub-sec1, .sec3 .sub-sec2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.sec3 .sub-sec1 .image, .sec3 .sub-sec2 .image {
  height: 80vh;
  width: 100%;
}

.sec3 .sub-sec1 .image .desktop, .sec3 .sub-sec2 .image .desktop {
  display: block;
  height: 80vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec3 .sub-sec1 .image .mobile, .sec3 .sub-sec2 .image .mobile {
  display: none;
}

.sec3 .sub-sec1 .content, .sec3 .sub-sec2 .content {
  padding: 10px 20% 30% 20%;
  position: relative;
  top: -35%;
}

.sec3 .sub-sec1 h1, .sec3 .sub-sec2 h1 {
  font-family: "Fraunces", serif;
  padding: 10px 0px;
}

.sec3 .sub-sec1 p, .sec3 .sub-sec2 p {
  font-family: "Barlow", sans-serif;
  line-height: 26px;
}

.sec3 .sub-sec1 .content {
  color: #25564b;
}

.sec3 .sub-sec2 .content {
  color: #19536b;
}

@media only screen and (max-width: 900px) {
  .sec3 .sub-sec1 .content, .sec3 .sub-sec2 .content {
    padding: 10px 10% 30% 10%;
  }
}

@media only screen and (max-width: 700px) {
  .sec3 {
    height: 160vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec3 .sub-sec1, .sec3 .sub-sec2 {
    height: 80vh;
  }
  .sec3 .sub-sec1 .content, .sec3 .sub-sec2 .content {
    padding: 0% 20% 0% 20%;
    top: -35%;
  }
  .sec3 .sub-sec1 .image, .sec3 .sub-sec2 .image {
    height: 80vh;
    width: 100%;
  }
  .sec3 .sub-sec1 .image .desktop, .sec3 .sub-sec2 .image .desktop {
    height: 80vh;
  }
}
/*# sourceMappingURL=styles.css.map */